*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  clear: both;
  display: table;
  content: '';
}
.container{
  width: 100%;
  height: 100vh;
  background-color: #B0DCCB;

}
.otop{
  width:100%;
  height: 20px;
  background-color: #065F63;

}
.oaside-left{
  width: 10%;
  height: calc(100% - 40px);
  background-color: #B0DCCB;
  float: left;

}
.deco-left{
  width: 100%;
  height: 10%;
  background-color: #065F63;
}
.oaside-right{
  width: 10%;
  height: calc(100% - 40px);
  background-color: #B0DCCB;
  float: right;

}
.deco-right{
  width: 100%;
  height: 10%;
  background-color: #065F63;
  display: inline-block;
}
.wbox{
  width: 80%;
  height: 95%;
  margin: auto;
  float: left;
  background-color: #ffff;
}
.contactbox{
  width: 40%;
  height: 100%;
  display: inline-block;
  background-color: #F6F8F7;
  float: left;
  overflow: scroll;
}
.own{
  background-color: #F1F1F1;
  border-right: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.stats{
  text-align: right;
  padding-top: 15px;
}
.adviser{
  background-color: #92D4EA;

}
.bell-splesh{
  width: 30%;
  height: 100%;
  float: left;
  font-size: 20px;

}
.fa-bell-slash{
  margin-top: 10px;
  margin-left: 10px;
}
.notice{
  width: 70%;
  height: 100%;
  float: right;

}
.notice>p{
  font-size: 8px;

}
.contacts{
  width: 100%;
  height: 7%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;

}
.msgbox{
  width: 60%;
  height: 93%;
  background-image: url("wallpaper.jpg");
  background-repeat: repeat;
  float: left;
  overflow: scroll;
}
.sender{
  width: 100%;
  height: 7%;
  background-color: #F1F1F1;
}
.search{
  width: 94%;
  border: none;
  padding-left: 15px;
}
#searcher{
  background-color: white;
  height: 3%;
  border-radius: 5px;
}
img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 5px;
}
.msg-text-in{
  width: 150px;
  height: 50px;
  background-color: #FFFF;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  position: relative;
  border-radius: 5px;
}
.timein{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 10px;
  background-color: yellow;
}
.msg-text-to{
  width: 150px;
  height: 50px;
  background-color: #FFFF;
  float: right;
  margin-right: 30px;
  clear: both;
  position: relative;
  border-radius: 5px;
  background-color: #DFFCC4;
}
.timeto{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 10px;
  background-color: yellow;
}
.msg{
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.msgtype{
  border: none;
  margin-top: 8px;
  margin-left: 25px;

}
.fa-laugh, .fa-microphone{
  margin-top: 8px;
}
.fa-laugh{
  margin-left: 10px;
}
.fa-microphone{
  margin-right: 10px;
}
